
 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;600;700;800;900&display=swap');

 :root {
    --main-color: #9F8FFF;
    --blue: #3636FF;
    --blue-hover: #5225d6;
    --blue-shadow: #3636ff7b;
    --blue-bg: #EBEBFF;

 }

 html {
   font-family: 'Inter', sans-serif;
   /* background-color: black;
   color: white; */
 }

 body {
      height: 100vh;
      margin: 20px;
      text-align: center;
      flex-direction: column;
      display: flex;
      /* justify-content: center; */
      align-items: center;
 }

 h3 {
  font-size: 1rem;
  font-weight: 600;
  color: rgb(41, 38, 38);
  margin: 20px 0 20px 0;
 }

 .wrapper {
   /* max-width: 756px;
   position: absolute; */
/*    
   top:0;
   bottom: 0;
   left: 0;
   right: 0;
   
   margin: auto; */
 }

 a {
    text-decoration: none;
    transition: all 150ms;
 }
 a:visited {
    color: black;
 }
 a:hover {
    color: var(--main-color);
 }
 
 h1 {
     font-size: 32px;
     font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-weight: 900;
     color: black;
 }
 
 .navbar {
   display: flex;
   margin: 20px 0px;
   padding: 0;
   justify-content: center;
   background-color: bla;
 }
 
 .navbar li {
   margin-right: 10px;
   list-style-type: none;
   font-size: 1.2rem;
 }
 
 .navbar li:hover {
   color: #9F8FFF;
   cursor: pointer;
 }

 .cover {
    max-width: 756px;
 }

 .gallery {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
 }

 .gallery a {
    background-color: var(--blue-shadow);
    color: white;
    border-radius: 10px;
  }
 .gallery a:hover {
    background-color: var(--blue-hover);
  }
  
  .gallery a:first-of-type {
    margin-right: 10px;
 }

 form {
   display: flex;
   flex-direction: column;
   max-width: 500px;
   margin: auto;
   text-align: left;
   align-items: center;
   margin-bottom: 24px;
 }

 input {
   margin-bottom: 15px;
 }

 label {
   margin-bottom: 5px;
 }

.form_upload {
  max-width: 50vw;
  /* min-height: 400px; */
  background-color: var(--blue-bg);
  text-align: center;
  padding: 30px;
  border-radius: 20px;
  border: 3px outset;
  border-color:  #3636FF;
}

.img_form {

}

.form_upload label {
  margin-right: 10px;
}

input[type="file"] {
  display: none;
}

.btn_collection {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

 .btn_browsing {
  padding: 10px 20px;
  background-color: var(--blue);
  color: white;
  transition: all 150ms;
  border-radius: 30px;
  height: fit-content;
 }
 .btn_browsing:hover {
  cursor: pointer;
  background-color: var(--blue-hover);
 }

 input[type="submit"] {
  display: none;
}
.btn_submit {
  padding: 10px;
  padding: 10px 20px;
  height: fit-content;
  transition: all 150ms;
  border-radius: 30px;
  background-color: var(--blue-shadow);
  color: white;
}
.btn_submit:hover {
  cursor: pointer;
}

.currentLink {
  color: var(--blue-hover);
 }

 .directory_table {
  background-color: #3636FF;
  color: white;
 }